/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #fff url("../images/bgtile.png") repeat-x;
}


/*title*/

.container1
{
  display: block;
  position: relative;
  height: 300px;
  width: 100%;
}

img[src="images/brand.png"]
{
  position: relative;
  float: left;
  top: 125px;
  left: 650px;
}

/*content*/

div.container2 img[src="images/frame.png"]
{
  position: relative;
  float: left;
  bottom: 80px;
  left: 300px;

}

article
{
  display: inline-block;
  position: absolute;
  width: 20%;
  left: 680px;
}

img[src="images/phones.png"] {
    display: inline-block;
    position: relative;
    float: left;
    bottom: 200px;
    left: 280px;
}

/*download*/

.download
{
  display: inline-block;
  float: left;
  position: relative;
  top: 300px;
  right: 150px;
}



/*footer*/

footer
{
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  padding: 20px 5px;
  width: 40%;
  margin: 300px;
  clear: both;
}

footer p
{
display: inline-block;
position: relative;
float: right;
right: 0;
bottom: 15px;
color: grey;
}

footer nav
{
  display: inline-block;
  float: left;
  font-weight: bold;
}

a
{
  text-decoration: none;
  color: #1c5380;
}
