/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #fff url("../images/bgtile.png") repeat-x;
}


/*title*/

img[src="images/brand.png"]
{
  position: relative;
  float: left;
  top: 110px;
  left: 935px;
}

img[src="images/home.png"]
{
  display: inline-block;
  position: relative;
  left: 1000px;
  top: 150px;
}

div#container1 p
{
  float:right;
  border: white;
  background-color: #477aa4;
  color: white;
  padding: 10px;
  border: 1px solid black;
  position: relative;
  right: 480px;
  top: 120px;
}

/*content*/

div#container2 img[src="images/frame.png"]
{
  position: relative;
  float: left;
  left: 300px;
  top: 160px;

}

div#container2 h2
{
  color: #06365f;
  font-size: 1.7em;
}

article
{
  display: inline-block;
  position: relative;
  width: 20%;
  top: 180px;
  right: 140px;
}

img[src="images/phones.png"] {
    display: inline-block;
    position: relative;
    float: left;
    left: 280px;
}

/*download*/

#download
{
  display: inline-block;
  float: left;
  position: relative;
  top: 220px;
  left: 360px;
}



/*footer*/

footer
{
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  padding: 20px 5px;
  width: 40%;
  position: relative;
  left: 320px;
  margin: 300px;
  clear: both;
}

footer p
{
display: inline-block;
position: relative;
float: right;
right: 0;
bottom: 15px;
color: grey;
}

footer nav
{
  display: inline-block;
  float: left;
  font-weight: bold;
}

a
{
  text-decoration: none;
  color: #1c5380;
}
